@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource-variable/nunito";
@import "@fontsource-variable/inter";

:root {
  background-color: #f5faff;
  color: #31303e;
}

@media (min-width: 640px) {
  *::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  *::-webkit-scrollbar-track {
    background: #f3f3f5;
    border-radius: 9999px;
  }

  *::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 9999px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #e2e2e2;
  }
}

.inter {
  font-family: "Inter Variable", sans-serif;
}

.nunito {
  font-family: "Nunito Variable", sans-serif;
}

.pageSize {
  max-width: 1580px;
  margin-left: auto;
  margin-right: auto;
}

.all-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  column-gap: 10px;
  row-gap: 25px;
}

.factura-container {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.factura-container .factura-line:nth-child(even) {
  background-color: white;
}

.factura-container .factura-line:nth-child(odd) {
  background-color: white;
}
