@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource-variable/inter";

:root {
  background-color: #ffffff;
  color: #31303e;
}

.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  /* Para navegadores basados en WebKit como Chrome, Safari */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Ocultar el scrollbar pero permitir el scroll */
  overflow-y: auto;
}

.inter {
  font-family: "Inter Variable", sans-serif;
}

.pageSize {
  max-width: 1580px;
  margin-left: auto;
  margin-right: auto;
}

.all-cards {
  display: flex;
  overflow-x: auto;
  gap: 16px;
}

@media (min-width: 640px) {
  .all-cards {
    display: flex;
    overflow-x: auto;
    gap: 16px;
  }
}

.card-container {
}

.card-container .card-line:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.card-container .card-line:nth-child(odd) {
  background-color: white;
}

.card-container .card-line:nth-child(even) {
  background-color: #f5f9fa;
}

.sombra {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
